<div class="container">
  <h1>Edit Contact</h1>
  <div class="row">
    <div class="col-md-12" *ngIf="error">
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    </div>
    <div class="col-md-6">
      <form (ngSubmit)="updateContact(contact.id)" #contactForm="ngForm">
        <div class="form-group" [ngClass]="firstName.invalid && (firstName.dirty || firstName.touched) && firstName.errors.required ? 'has-danger' : ''">
          <label for="firstName">First Name <sup class="text-danger font-weight-bold">*</sup></label>
			<input type="text" class="form-control" [(ngModel)]="contact.firstName" name="firstName" required #firstName="ngModel">
			<div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="text-danger">
				<div *ngIf="firstName.errors.required">
        First Name is required.
				</div>
			</div>
        </div>
		
        <div class="form-group" [ngClass]="lastName.invalid && (lastName.dirty || lastName.touched) && lastName.errors.required ? 'has-danger' : ''">
          <label for="lastName">Last Name <sup class="text-danger font-weight-bold">*</sup></label>
          <input type="text" class="form-control" [(ngModel)]="contact.lastName" name="lastName" required #lastName="ngModel">
			<div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="text-danger">
				<div *ngIf="lastName.errors.required">
					Last Name is required.
				</div>
			</div>
        </div>   
        
        <div class="form-group" [ngClass]="email.invalid && (email.dirty || email.touched) && (email.errors.required || email.errors.pattern) ? 'has-danger' : ''">
          <label for="email">Email <sup class="text-danger font-weight-bold">*</sup></label>
          <input type="email" class="form-control" [(ngModel)]="contact.email" name="email" required #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
			<div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
				<div *ngIf="email.errors.required">
					Email is required.
        </div>
        <div  *ngIf="email.errors.pattern">
          Email is invalid.
      </div>
			</div>
        </div> 

        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="number" class="form-control" [(ngModel)]="contact.phone" name="phone"  #phone="ngModel">
        </div>

        <div class="form-group" [ngClass]="status.invalid && (status.dirty || status.touched) && status.errors.required ? 'has-danger' : ''">
          <label>Status <sup class="text-danger font-weight-bold">*</sup></label>
          <select name="status" [(ngModel)]="contact.status" required #status="ngModel" class="custom-select">
            <option value="">Please select</option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
          </select>
          <div *ngIf="status.invalid && (status.dirty || status.touched)" class="text-danger">
            <div *ngIf="status.errors.required">
              Status is required.
            </div>
          </div>
        </div>
        
        
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!contactForm.form.valid">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>